<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="fManager.Properties.Settings.ConnectionString" connectionString="Data Source=DESKTOP-HOAHOA\SQLEXPRESS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="desktop-hoahoa\sqlexpress.ORDERMILKTEA.dbo" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-HOAHOA\SQLEXPRESS;integrated security=SSPI;initial catalog=ORDERMILKTEA" />
        <add name="fManager.Properties.Settings.ORDERMILKTEAConnectionString"
            connectionString="Data Source=DESKTOP-HOAHOA\SQLEXPRESS;Initial Catalog=ORDERMILKTEA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>